<section>
    <div class="smallerGap"></div>
    <div class="center-block head">
        <div>
            <button class="btn glyphicon glyphicon-home" style="display:inline;text-align: center;" onclick="window.history.go(-1)"> Home</button>
        </div>
        <h1><strong>About Us</strong></h1>
    </div>
    <br />

    <div style=" width:800px; margin:0 auto">
        <p data-bind="text:desString"></p>

    </div>
    <br />
    <div>
        <h4><strong> Developers:</strong></h4>
        <a href="http://confluence.burning-glass.com/pages/viewpage.action?pageId=52102953">
            Vivek Gurung
        </a>
            <br /> <a href="https://www.linkedin.com/in/samuel-lawrentz/">
                Samuel Lawrence Jebasingh
            </a>
            <br /> <a href="https://www.linkedin.com/in/sabitha-kuppusamy-00748190/">Sabitha Kuppusamy</a>
</div>
</section>