<section>
    
    <center>
        <form class="form-inline">
        <h2>Hello! Enter the club</h2>
            <div class="group">
                <input placeholder="User Name" type="text" required data-bind="value: name, valueUpdate: 'afterkeydown'">
                <span class="highlight"></span>
                <span class="bar"></span>           
            </div>

            <div class="group">
                <input placeholder="Password" type="password" required data-bind="value: password, valueUpdate: 'afterkeydown'">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <center>
                <label id="error" style="color:indianred; display:none"></label>
            </center>
            <div class="smallerGap"></div>
            <button type="submit" class="btn" data-bind="click: login, enable: password">Log In</button>
       
        </form>
    </center>
   
    <br />
    <br />
    <div style=" width:800px; margin:0 auto">
    <p data-bind="text:desString"></p>
        <br />
       
        <center>
        <h2>Not a member?</h2>
        <a data-bind="attr: { href: '#signup' }, html: 'Signup'"></a>
            </center>
        </div>
</section>
