<section>
    <div class="modal-body row">
        <div class="col-md-6 text-center">
            <!-- Your first column here -->
            <div class="smallerGap"></div>
            <div>
                <button class="btn glyphicon glyphicon-arrow-left pull-left" style="text-align: center; display: inline;" onclick="window.history.go(-1)"> Back</button>
            </div>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p data-bind="text:desString"></p>
            </div>
        <div align ="center" class="col-md-6" >
            <!-- Your second column here -->
            <form class="form-inline">
                <h2>Hello! Join the club</h2>
                
                <br />
                <input placeholder="User Name" type="text" id="name" data-bind="value: name, valueUpdate: 'afterkeydown'" required />
                <br />
                <br />
                
               
                <br />
                <input placeholder="Password" type="password" class="pass" data-bind="value: password, valueUpdate: 'afterkeydown'" required />
                <br />
                <br />
               
                <br />
                <input placeholder="Confirm Password" type="password" class="pass" data-bind="value: cPassword, valueUpdate: 'afterkeydown'" required />
                
                <br />

                <br />
                <button type="submit" class="btn" data-bind="click: signup ">Sign Up</button>
            </form>

        </div>
    </div>
        
   
</section>
