<div id="applicationHost"></div>


<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/sidebar.css" />
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/require.js" data-main="@Url.Content("~/App/main")"></script>